body {
  background: #f2f5f7;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.to-do-app {
  width: 700px;
  max-height: 800px;
  min-height: 200px;
  box-shadow: 0px 4px 4px 0px #0000001a;
  background: #ffffff;
  border-radius: 8px;
  padding-bottom: 10px;
}
